{{ template "base" .}}

{{ define "title"}}Snippet Box | Home Page{{ end }}

{{ define "main" }}
  <h2 class="container__subtitle">Latest Snippets</h2>
  {{ if .Snippets }}
    <table class="main-table">
      <thead class="main-table__head">
        <tr class="main-table__row">
          <th class="main-table__cell main-table__cell--heading">Title</th>
          <th class="main-table__cell main-table__cell--heading">Created</th>
          <th class="main-table__cell main-table__cell--heading">ID</th>
        </tr>
      </thead>
      <tbody class="main-table__body">
        {{ range .Snippets }}
          <tr class="main-table__row">
            <td class="main-table__cell">
              <a href="/snippet?id={{ .ID }}" class="main-table__link">{{ .Title }}</a>
            </td>
            <td class="main-table__cell">{{ humanDate .Created }}</td>
            <td class="main-table__cell">#{{ .ID }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>There's nothing to see here... yet!</p>
  {{ end }}
{{ end }}
