{{ template "base" .}}

{{ define "title" }}Code-Snippet-Box | Signup{{ end }}

{{ define "main" }}
  <form action="/user/signup" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value={{ .CSRFToken }}>
  {{ with .Form }}
    <div class="form__group">
      <label class="form__label" for="name">Name:</label>
      <input type="text" name="name" id="name" class="form__input" value={{ .Get "name" }}>
      {{ with .Errors.Get "name" }}
        <div class="form__error">{{ . }}</div>
      {{ end }}
    </div>
    <div class="form__group">
      <label class="form__label" for="name">Email:</label>
      <input type="text" name="email" id="email" class="form__input" value={{ .Get "email" }}>
      {{ with .Errors.Get "email" }}
        <div class="form__error">{{ . }}</div>
      {{ end }}
    </div>
    <div class="form__group">
      <label class="form__label" for="name">Password:</label>
      <input type="password" name="password" id="password" class="form__input" value={{ .Get "password" }}>
      {{ with .Errors.Get "password" }}
        <div class="form__error">{{ . }}</div>
      {{ end }}
    </div>
    <div class="form__group">
      <button type="submit" class="form__button">Signup</button>
    </div>
  {{ end }}
  </form>
{{ end }}
