:root {
  --footer-height: 100px;
  --header-height: 200px;
  --primary-dark: #34495e;
  --primary-light: #f1f3f6;
  --base-text-color: #6a6c6f;
  --blocks-color: #f7f9fa;
  --border-color: #e4e5e7;
  --active-color: #60ce60;
  --colors: #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%,
    #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%,
    #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%;
  --base-padding: 20px;
  --block-width: 1000px;
  --border: 1px solid var(--border-color);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
}

body {
  line-height: 1.5;
  background-color: #f1f3f6;
  color: #34495e;
}

.container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.container__content {
  width: 100%;
  max-width: var(--block-width);
  margin: 40px 0;
}

.container__subtitle {
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  border-bottom: var(--border);
  background-image: -webkit-linear-gradient(left, var(--colors));
  background-image: -moz-linear-gradient(left, var(--colors));
  background-image: -ms-linear-gradient(left, var(--colors));
  background-image: linear-gradient(to right, var(--colors));
  background-size: 100% 6px;
  background-repeat: no-repeat;
}

.header__link {
  text-decoration: none;
}

.header__title {
  margin-top: 25px;
  font-size: 60px;
  color: var(--primary-dark);
}

.nav {
  display: flex;
  justify-content: center;
  padding: var(--base-padding) 0;
  width: 100%;
  background-color: var(--blocks-color);
}

.nav__items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: var(--block-width);
  list-style: none;
  font-size: 20px;
}

.nav__item.active {
  position: relative;
  color: var(--active-color);
}

.nav__item.active::after {
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 25px;
  height: 25px;
  border-right: var(--border);
  border-bottom: var(--border);
  transform: translateX(-50%) rotate(45deg);
  background-color: var(--blocks-color);
  content: "";
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
  border-top: var(--border);
  background-color: var(--blocks-color);
}

.snippet {
  color: var(--primary-dark);
  /* background-color: red; */
}

.snippet__metadata {
  display: flex;
  justify-content: space-between;
  padding: var(--base-padding);
  border: var(--border);
  background-color: var(--blocks-color);
}

.snippet__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.snippet__main {
  padding: var(--base-padding);
  border-right: var(--border);
  border-left: var(--border);
  background-color: #fff;
}

.snippet__time {
  color: var(--base-text-color);
}

/* main-table */
.main-table {
  width: 100%;
  border: var(--border);
  border-collapse: collapse;
  background-color: #fff;
}

.main-table__head {
  padding: var(--base-padding);
  background-color: var(--blocks-color);
  text-align: left;
}

.main-table__cell {
  padding: calc(var(--base-padding) / 2) var(--base-padding);
}

.main-table__head .main-table__row {
  border-bottom: var(--border);
}

.main-table__link {
  color: var(--active-color);
  text-decoration: none;
}

/* create snippet form */
.create-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-form__group--direction-row {
  flex-direction: row;
  align-items: center;
}

.create-form__radio-items .create-form__label {
  margin-left: 30px;
  padding-right: 0;
}

.create-form__label {
  padding: calc(var(--base-padding) / 2);
}

.create-form__textarea,
.create-form__input {
  padding: calc(var(--base-padding) / 2);
  font-size: inherit;
  color: inherit;
  border: var(--border);
  border-radius: 3px;
}

.create-form__textarea {
  min-height: 200px;
  resize: vertical;
}

.create-form__button {
  width: fit-content;
  padding: calc(var(--base-padding) / 2) var(--base-padding);
  border-radius: 4px;
  border: none;
  background-color: var(--active-color);
  color: white;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
}

.create-form__button:hover {
  transition: opacity 0.2s ease;
  opacity: 0.8;
}

.create-form__error {
  padding: 5px 10px 0;
  color: #ff5b5b;
}

/* flash */
.flash {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--active-color);
  color: white;
  font-size: inherit;
  font-weight: bold;
}

.container__flash {
  margin-bottom: 20px;
}
